#cookiemodule {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #1d2122;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width: 225px;
    padding: 8px;
    margin: 0;
}

#cookiemodule h5 {
    color: #faa61a;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#cookiecontent {
    padding: 3px;
}

#cookiecontent p {
    font-size: 12px;
    line-height: normal;
    color: #fff;
    margin: 5px 0 8px 0;
}

#cookiecontent p a {
    color: #faa61a;
    font-size: 12px;
}

#cookiecontent p a:hover,
#cookiecontent p a:active {
    color: #6FF;
}

#cookiecontent button {
    border-width: 0;
    background-color: #FFC700;
    color: #333E48;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

#cookiecontent button:hover {
    background-color: #FF6B00;
}
