.global-footer {
    background-color: #333e48;
    color: #FFFFFF;
    font-size: 14px;
    padding: 40px 20px;
    -webkit-font-smoothing: antialiased;
}

.global-footer-row {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

.global-footer-row:last-child {
    margin-bottom: 0;
}

.global-footer-media {
    margin-bottom: 1.5em;
    text-align: center;
    list-style: none;
}

.global-footer-media li {
    display: inline-block;
    font-size: 14px;
}

.global-footer-media a {
    font-size: 14px;
    font-weight: normal;
}

.global-footer-media a:hover {
    color: white;
}

.global-footer-media .footer-media-icon {
    padding: 5px;
    vertical-align: middle;
    color: #FFFFFF;
}

.global-footer-show-on-large-screens {
    display: none;
}

.global-footer-media span {
    padding-left: 5px;
}

.global-footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #FFFFFF;
    padding: 5px 0;
}

.global-footer-copyright div {
    font-size: 14px;
}

.global-footer-copyright a {
    color: #FFFFFF;
}

.copyright-links {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.copyright-links li {
    display: inline-block;
    padding: 0 5px;
    line-height: 16px;
    font-size: 14px;
}

.copyright-links a {
    font-size: 14px;
    font-weight: normal;
}

.copyright-links a:hover {
    color: white;
}

.copyright-links li+li {
    border-left: 1px solid white
}

@media only screen and (min-width: 950px) {
    .global-footer-show-on-large-screens {
        display: inline;
    }

    .global-footer-copyright {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
